# Build results
**/[Dd]ebug/
**/[Rr]elease/
**/x64/
**/x86/
**/build/
**/bld/
**/[Oo]bj/
**/[Bb]in/
**/[Oo]ut/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.rsuser

# JetBrains Rider
.idea/
*.sln.iml

# NuGet
*.nupkg
**/packages/*
!**/packages/build/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Test results
TestResults/
*.trx

# User-specific
*.DotSettings.user
